<section class="container">
  <img class="logo" src="/assets/logotipo.png">
  <form class="form-login" (submit)="register()" [formGroup]="formLogin">
    <div class="spaceName">
      <span class="p-input-icon-right">
        <i class="pi pi-user"></i>
        <input class="iName" type="text" pInputText placeholder="Name" formControlName="name"/>
      </span>
      <div class="validator" *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)">
        <span *ngIf="f['name'].errors?.['required']">Name is required</span>
      </div>
    </div>
    <div class="spaceEmail">
      <span class="p-input-icon-right">
        <i class="pi pi-envelope"></i>
        <input class="iEmail" type="text" pInputText placeholder="Email" formControlName="email"/>
      </span>
      <div class="validator" *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)">
        <span *ngIf="f['email'].errors?.['required']">Email is required</span>
        <span *ngIf="f['email'].errors?.['email']">Enter a valid email</span>
      </div>
    </div>
    <div class="spacePassword">
      <span class="p-input-icon-right">
        <i class="pi pi-lock"></i>
        <input type="password" pPassword placeholder="Password" />
      </span>
      <div class="validator" *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)">
        <span *ngIf="f['password'].errors?.['required']">Password is required</span>
        <span *ngIf="f['password'].errors?.['minlength']">min 8 character in password</span>
      </div>
    </div>
    <button class="button-login" type="submit" [disabled]="formLogin.invalid">REGISTER</button>
  </form>
  <div class="division">
    <hr/>
    <p>OR</p>
    <hr/>
  </div>
  <div class="loginNetwork">
    <a><img src="/assets/iconGoogle.png"/></a>
    <a><img src="/assets/iconGithub.png"/></a>
  </div>
  <div class="spaceRegister">
    <p class="text-sm">
      I have an account?
      <a routerLink="/login">Sign in</a>
    </p>
  </div>
</section>


