<section class="container">
  <div class="title">
    <img class="logo" src="/assets/logotipo2.png">
    <h1>Reset Password</h1>
    <p>Your New Password Must Be Different from Previously Used Password</p>
  </div>
  <form class="form-create-password" (submit)="createNewPassword()" [formGroup]="newPasswordForm">
    <div class="spaceEmail">
      <span class="p-input-icon-right">
        <i class="pi pi-lock"></i>
        <!-- <input class="iEmail" type="text" pInputText placeholder="Email" formControlName="email"/> -->
        <input type="password" pPassword placeholder="Password" formControlName="password"/>
      </span>
      <div class="validator" *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)">
        <span *ngIf="f['password'].errors?.['required']">Password is required</span>
        <span *ngIf="f['password'].errors?.['minlength']">min 8 character in password</span>
      </div>
    </div>
    <div class="spaceEmail">
      <span class="p-input-icon-right">
        <i class="pi pi-lock"></i>
        <input type="password" pPassword placeholder="Confirm Password" formControlName="password_confirm"/>
      </span>
      <div class="validator" *ngIf="f['password_confirm'].invalid && (f['password_confirm'].dirty || f['password_confirm'].touched)">
        <span *ngIf="f['password_confirm'].errors?.['required']">Password is required</span>
        <span *ngIf="f['password_confirm'].errors?.['minlength']">min 8 character in password</span>
      </div>
    </div>
      <button class="button-send" type="submit" [disabled]="newPasswordForm.invalid">SAVE</button>
  </form>
  <div class="space-login">
    <p class="text-sm">
      I remember my account?
      <a routerLink="/login">Sign in</a>
    </p>
  </div>
</section>

