/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Lato", sans-serif;}
.p-sidebar {
  background-color: #004346;
}
.p-avatar.p-avatar-circle {
  width: 150px;
  height: 150px;
}
