.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.title h1{
  color: #4EBCA8;
  font-size: 2rem;
}
.title p{
  width: 250px;
}
.formLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
}

.button-login{
  width: 261px;
  height: 41px;
  background: linear-gradient(90.94deg, #04C09E 0%, #478B7F 100%);
  color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Lato';
  font-weight: 700;
  font-size: 20px;
}
.validator{
  display: flex;
  justify-content: center;
  color: red;
}
.division{
  display: flex;
  align-items: center;
}
.loginNetwork{
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  width: 200px;
}
.space-login{
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.space-login p{
  margin-right: 5px;
}
.space-login p a{
  color: #04c084;
}
.logo{
  object-fit: contain;
}
