<section class="container">
  <div class="title">
    <img class="logo" src="/assets/logotipo2.png">
    <h1>Forgot Password</h1>
    <p>Please Enter Your Email Address To
      Recieve a Verification Code.</p>
  </div>
  <form class="formLogin" (submit)="forgetPassword()" [formGroup]="formForgotPassword">
    <div class="spaceEmail">
      <span class="p-input-icon-right">
        <i class="pi pi-envelope"></i>
        <input class="iEmail" type="text" pInputText placeholder="Email" formControlName="email"/>
      </span>
      <div class="validator" *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)">
        <span *ngIf="f['email'].errors?.['required']">Email is required</span>
        <span *ngIf="f['email'].errors?.['email']">Enter a valid email</span>
      </div>
    </div>
      <button class="button-login" type="submit" [disabled]="formForgotPassword.invalid">SEND</button>
  </form>
  <div class="space-login">
    <p class="text-sm">
      I remember my account?
      <a routerLink="/login">Sign in</a>
    </p>
  </div>
</section>

